langchain==0.2.15
langchain-openai==0.1.21
langchain-community==0.2.15
langchain-nvidia-ai-endpoints==0.3.19
flask==3.1.1
flask-cors==4.0.0
sentence-transformers==2.3.1
pypdf==5.0.1
python-dotenv==1.1.0
numpy==1.26.4
pandas==2.2.1
scikit-learn==1.4.2
nltk==3.8.1
spacy==3.7.2
transformers==4.41.2
torch==2.2.2
-e .
